header {
  width: 100%;
  padding: 10px;
  position: relative;
}

.logo {
  width: 92px;         
  position: absolute;
  top: 16px;            
  right: 35px;         
}
h1 {
  font-size: 5.5rem; 
}

p {
  font-size: 4.2rem; 
}



