p, h1, h2, h3 {
  max-width: 100%;
  word-wrap: break-word;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center; /* markazga joylashtiradi */
  gap: 10px;
}

.logo {
  width: 50px;   /* logotip o‘lchami */
  height: auto;
}
.header {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 70px;
}








