body {
  font-size: 22px; 
  line-height: 1.7;
}

h1 {
  font-size: 36px;  
}

h2 {
  font-size: 30px;
}

p {
  font-size: 22px; 
}

@media (max-width: 600px) {
  body {
    font-size: 24px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }
}








